body {
    background: linear-gradient(to right, #00a8ff, #007bff);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .login-container {
    max-width: 400px;
    background-color: #FFFFFF;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
  }

  .btn[disabled]{
    opacity: 0.5;
  }